<div class="table">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Velden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
            </tr>
            <tr>
                <td>b</td>
            </tr>
        </tbody>
    </table>
</div>